* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Helvetica", sans-serif;
  font-size: large;
}

body {
  margin: 0;
  padding: 5px;
  height: 100%;
  display: grid;
  grid-template-rows: [hd-start] 10% [hd-end] auto 10%;
  grid-template-columns: [hd-start] 1fr 3fr [hd-end];
  row-gap: 5px;
  column-gap: 5px;

  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

.header-content {
  grid-area: header;
}

.footer-content {
  grid-area: footer;
}

.sidebar {
  grid-area: aside;
}

.maincontent {
  grid-area: main;
}

.header-content,
.footer-content,
.sidebar,
.maincontent {
  display: flex;
  border: 2px solid black;
  background-color: bisque;
  padding: 5px;
}

p {
  margin: auto;
}
